<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpack Boilerplate</title>
  <link rel="shortcut icon" href="<%= require('./assets/images/pngs/logo.png') %>" type="image/x-icon">
</head>

<body>
  <div class="hero">
    <h1 class="hero__heading">Startup page</h1>
    <img class="hero__svg" src="<%= require('./assets/images/svgs/github.svg') %>" alt="LOGO" type="image/svg+xml">
  </div>
</body>

</html>